html {
	scroll-behavior: smooth;
}

body {
	color: var(--text-color);
	font-family: var(--font-accent);
	text-wrap: balance;
}

img {
	display: block;
	object-fit: contain;
}

a {
	color: var(--basic-gray);
}
