:root {
	--container-width: 1220px;

	--font-accent: 'Jost', sans-serif;
	--font-titles: var(--font-accent);

	--basic-white: rgba(255, 255, 255, 1);
	--extra-white: rgba(241, 241, 241, 1);
	--lotion: #FDFDFD;
	--color-placeholder: #5B6276;
	--basic-gray: rgba(91, 98, 118, 1);
	--extra-gray: #D7DCE7;
	--text-color: #000;
	--basic--black: #010424;
	--accent: #ac182c;
	--link-color: #2578c8;
	--basic-blue: #01237D;
	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}