:root {
	--container-width: 1220px;
	--font-accent: 'Jost', sans-serif;
	--basic-white: rgba(255, 255, 255, 1);
	--extra-white: rgba(241, 241, 241, 1);
	--map-text-color: rgba(253, 253, 253, 0.8);
	--basic-gray--80: #F4F4F480;
	--lotion: #FDFDFD;
	--color-placeholder: #5B6276;
	--basic-gray: rgba(91, 98, 118, 1);
	--extra-gray: #D7DCE7;
	--extra-gray__text: #FDFDFDCC;
	--text-color: #000;
	--basic--black: #010424;
	--footer-black: #0C1431;
	--footer-link: #F1F1F1CC;
	--footer-menu: #F1F1F1B2;
	--color-separator: #A4A7E266;
	--callback-form: #F4F4F4;
	--footer-bottom: #0A122D;
	--border-linear: linear-gradient(224.82deg, #010B4B 0.85%, #1900AE 58.45%, #4731FC 102.14%);
	--basic-blue: #4731FC;
	--accent: #ac182c;
	--purple: #9093E8;
	--link-color: #2578c8;
	--basic-blue: #01237D;
	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}