.about-company__wrapper {
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding: 90px 0 20px 0;
	text-wrap: wrap;
}

.about-company__heading {
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-blue);
}

.about-company {
	padding: 10px 0 10px 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-image: url('./../img/icon__wave.svg');
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		z-index: -1;
	}
}

.about-company__description {
	font-weight: 400;
	font-size: 20px;
	line-height: 25.64px;
	color: var(--color-placeholder);
	text-align: center;
}

.about-company__icon {
	width: 64px;
	height: 64px;
	fill: var(--basic-white);
}

.about-company__card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 73px 0 80px 0;
	position: relative;
	max-width: 1052px;
	margin: 0 auto;
}

.about-company__box {
	background: var(--border-linear);
	position: relative;
	max-width: 220px;
	min-height: 220px;
	border-radius: 6px;

	&:last-child {
		margin-right: 0;

		&:after {
			content: none;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-image: url('./../img/icon__linear.svg');
		background-repeat: no-repeat;
		background-size: contain;
		transform-origin: center;
		z-index: -1;
	}

	&:hover {
		&::before {
			transform: scale(1.8);
			transition: transform 0.5s ease;
		}
	}

	&::after {
		content: '';
		border-top: 2px dashed var(--basic-blue);
		position: absolute;
		width: 100%;
		right: 0;
		left: 100%;
		top: 49%;
	}
}

.about-company__figcaption {
	font-weight: 400;
	font-size: 20px;
	line-height: 25.64px;
	color: var(--lotion);
	margin: 30px 0 0 0;
	text-align: center;
}

.about-company__figure {
	// padding: 30px 12px 30px 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
}

.about-company__separator {
	display: block;
	border-top: 2px solid var(--extra-gray);
	width: 40px;
	right: 49.5%;
	top: 55px;
	transform: rotate(90deg);
	position: absolute;
}

@media (max-width: 767px) {
	.about-company__box {
		&:last-child {
			margin: 16px 0 0 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.about-company__box {
		&:last-child {
			margin: 0 0 0 0;
		}
	}
}

@media (max-width: 992px) {
	.about-company {
		padding: 0 0 0 0;
		margin: 50px 0 0 0;

		&::before {
			background-image: url(./../img/icon__wave-mobile.svg);
		}
	}

	.about-company__box {
margin: 0 16px 0 0;
		&::after {
			content: none;
		}
	}

	.about-company__card {
		justify-content: center;
	}

	.about-company__description {
		font-size: 20px;
		line-height: 25.64px;
	}

	.about-company__card {
		padding: 15px 0 0px 0;
	}

	.about-company__wrapper {
		gap: 24px;
		padding: 114px 0 0px 0;
	}

	.about-company__separator {
		top: 83px;
		right: 44.5%;
	}
}

// @media (max-width: 1440px) {
// 	.about-company__box {
// 		margin: 16px 0 0 0;
// 	}
// }