.callback {
	margin: 100px 0 0 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-image: url('./../img/callback__background.png');
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		z-index: -1;
	}

}

.callback__heading {
	font-weight: 500;
	color: var(--lotion);
	text-transform: uppercase;
	letter-spacing: -1.9px;
}

.callback__description {
	font-weight: 400;
	font-size: 26px;
	line-height: 33.33px;
	color: var(--extra-gray__text);
	max-width: 560px;
	text-wrap: wrap;
	margin: 45px 0 0 0;
}

.callback__separator {
	display: block;
	border: 1px solid var(--color-separator);
	width: 40px;
}

.callback__wrapper {
	padding: 125px 0 88px 0;
}

.callback__box {
	padding: 25px 0 100px 0;
}

.callback__privacy-policy {
	font-weight: 400;
	font-size: 14px;
	line-height: 17.95px;
	color: rgba(253, 253, 253, 0.6);
}

.callback__link {
	color: var(--extra-gray);
	transition: 0.5s ease;

	&:hover {
		opacity: 0.7;
	}
}

@media (max-width: 991px) {
	.callback__description {
		font-size: 20px;
		line-height: 25.64px;
		text-align: center;
	}

	.callback {
		&::before {
			background-image: url(./../img/callback__background-mobile.png);
		}
	}

	.callback__wrapper {
		padding: 71px 0 0 0;
		position: relative;
	}

	.callback__heading {
		text-align: center;
	}

	.callback__separator {
		left: 44%;
		position: absolute;
	}

	.callback__form {
		margin: 35px 0 0 0;
	}

	.callback__privacy-policy {
		text-align: center;
		font-size: 13px;
		line-height: 16.67px;
	}

	.callback__box {
		padding: 25px 0 58px 0;
	}
}

@media (max-width: 1440px) {
	.callback__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.callback__form {
		// margin: 35px auto 0 auto;
		// max-width: 700px;
	}

	.callback__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		max-width: 850px;
	}
}