.callback {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-image: url('./../img/callback__background.png');
		z-index: -1;
	}

}

.callback__heading {
	font-weight: 500;
	color: var(--lotion);
}

.callback__description {
	font-weight: 400;
	font-size: 26px;
	line-height: 33.33px;
	color: var(--extra-gray__text);
	max-width: 560px;
	text-wrap: wrap;
	margin: 50px 0 0 0;
}

.callback__separator {
	display: block;
	border: 1px solid var(--color-separator);
	width: 40px;
}

.callback__wrapper {
	padding: 120px 0 90px 0;
}

.callback__box {
	padding: 25px 0 100px 0;
}

.callback__privacy-policy {
	font-weight: 400;
	font-size: 14px;
	line-height: 17.95px;
	color: rgba(253, 253, 253, 0.6);
}

.callback__link {
	color: var(--extra-gray);
}