.contacts__flex {
	display: flex;
	justify-content: flex-end;
}

.contacts__link-phone {
	background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
	background-clip: text;
	white-space: pre;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
	font-size: 20px;
	line-height: 25.64px;
}

.contacts__link-email {
	font-weight: 300;
	font-size: 18px;
	line-height: 23.08px;
	color: var(--extra-white);
}

.contacts__address {
	color: var(--footer-link);
}

.contacts__item--margin {
	margin: 14px 0 5px 0;
}

.contacts__svg-footer {
	width: 24px;
	height: 24px;
	fill: rgba(215, 220, 231, 0.4);
	margin: 0 8px 0 0;
}

.contacts__item-flex {
	display: flex;
	align-items: center;
}