.contacts__flex {
	display: flex;
	justify-content: flex-end;
}

.contacts__link-phone {
	background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
	background-clip: text;
	white-space: pre;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
	font-size: 20px;
	line-height: 25.64px;
	transition: opacity 0.5s ease;

	&:hover {
		opacity: 0.5;
	}
}

.contacts__link-email {
	font-weight: 300;
	font-size: 18px;
	line-height: 23.08px;
	color: var(--extra-white);
	transition: opacity 0.5s ease;

	&:hover {
		opacity: 0.5;
	}
}

.contacts__address {
	color: var(--footer-link);
}

.contacts__item--margin {
	margin: 10px 0 5px 0;
}

.contacts__svg-footer {
	width: 24px;
	height: 24px;
	fill: rgba(215, 220, 231, 0.4);
	margin: 0 8px 0 0;
	position: absolute;
	left: -32px;
}

.contacts__item-flex {
	display: flex;
	align-items: center;
	position: relative;
}

.contacts__address {
	font-weight: 400;
	font-size: 14px;
	line-height: 17.95px;
}

.contacts__list-contacts {
	margin: 0 0 0 30px;
}

@media (max-width: 992px) {
	.contacts__svg-footer {
		width: 16px;
		height: 16px;
		top: 0px;
		left: -20px;
	}

	.contacts__list-contacts {
		margin: 0 0 0 20px;
	}

	.contacts__list-dynamic-adapt {
		display: flex;
		justify-content: space-between;
		padding: 11px 32px 5px 32px;
	}

	.contacts__address {
		font-size: 16px;
		line-height: 20.51px;
		max-width: 256px;
	}
}