.footer {
	background-color: var(--footer-black);
}

.footer__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 63px 0 0 0;
}

.footer__link {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 20.51px;
	color: var(--footer-menu);
	position: relative;


	&:hover {
		padding-left: 20px;
		transition: padding-left 0.5s ease;

		&::before {
			transform: scaleX(1);
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		width: 16px;
		height: 2px;
		background-color: rgba(164, 167, 226, 0.4);
		transition: transform 0.5s ease;
		transform-origin: left;
		transform: scaleX(0);
	}
}

.footer__strong {
	color: var(--extra-white);
	font-weight: 600;
	font-size: 18px;
	line-height: 23.08px;
}

.footer__link.footer__link--gray {
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-decoration: underline;
	color: var(--basic-gray--80);
}

.footer__box {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.footer__list-group {
	display: flex;
	flex-direction: column;
	margin-top: 91px;
	height: 100%;
}

.footer__item {
	padding: 8px 0 0 0;
}

.footer__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 18px;
}

.footer-copyright {
	padding: 15px 0 15px 0;
	margin: 30px 0 0 0;
	background-color: var(--footer-bottom);
}

.footer__text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--map-text-color);
	font-size: 16px;
	line-height: 18px;
}

.footer__contacts {
	display: grid;

	.contacts__link-phone {
		font-size: 16px;
		line-height: 20.51px;
	}

	.contacts__link-email {
		font-size: 16px;
		line-height: 20.51px;
	}
}

.footer__wrapper--left {
	display: flex;
	justify-content: space-between;
}

.footer__wrapper-menu {
	width: 32%;
}

.footer__wrapper--right {
	margin-left: 14px;
}

.footer__block {
	display: grid;
}

@media (max-width: 992px) {
	.footer__container {
		display: flex;
    flex-direction: column;
		padding: 35px 15px 0 15px;
	}

	.footer__wrapper--left {
		flex-direction: column;
	}

	.footer__grid {
		display: flex;
		flex-direction: column;
		gap: unset;
	}

	.footer__list-group {
		display: none;
	}

	.footer__wrapper--right {
		margin: 60px 0 0 0;
	}

	.footer__block {
		margin: 0 0 40px 0;
		gap: 25px;
	}

	.footer__logo {
		margin: 0px 0 30px 0;
	}

	.footer__wrapper-menu {
		width: 100%;
	}

}