.form__input {
	width: 100%;
	border: 1px solid var(--extra-white);
	background-color: var(--callback-form);
	border-radius: 39px;
	height: 54px;
	padding: 10px 20px 0 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 25.64px;
}

.form__label {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: var(--color-placeholder);
	position: absolute;
	left: 30px;
	transition: 0.5s ease;
	pointer-events: none;
}

.form__box {
	position: relative;
	display: flex;
	align-items: center;
	width: 30.5em;
	margin-right: 34px;

	&:last-child {
		width: auto;
		margin-right: 0;
	}

	.search__send {
		position: relative;
		padding: 14.5px 0;
	}
}

.form__fieldset {
	display: flex;
}

@media (max-width: 992px) {
	.form__fieldset {
		display: grid;
		gap: 16px;
	}

	.form__box {
		width: 100%;

		&:last-child {
			margin: 10px 0 0 0;
		}

		.search__send {
			width: 100%;
		}
	}
}