.header {
	background: linear-gradient(217.93deg, #000C52 11.31%, #000051 60%);
	clip-path: ellipse(167% 100% at 50% 0);
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}