.header {
	display: flex;
	justify-content: center;
	background: linear-gradient(217.93deg, #000C52 11.31%, #000051 60%);
	clip-path: ellipse(167% 100% at 50% 10%);
	background-image: url(./../img/banner__bg.png);
	mask-image: url(./../img/banner__bg.png);
	min-height: 625px;
	position: relative;
	background-size: cover;
	overflow: hidden;
	mask-size: cover;
	mask-position: bottom center;

	&::before {
		content: url('./../img/icon__line-right.svg');
		display: block;
		height: 500px;
		position: absolute;
		right: 0;
		pointer-events: none;
		z-index: -1;
	}
}

.header__nav {
	display: flex;
	align-items: center;
	padding: 20px 0 20px 0;
}

.header__menu {
	margin: 0 72px 0 115px;
}

.header__background {
	position: absolute;
	top: -54%;
	right: 12%;
	z-index: -1;
	animation: 120s linear 0s normal none infinite running rotate;
}

.header__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--lotion);
}

.header__search {
	max-width: 860px;
	margin: 75px auto 0 auto;
}

.header__burger {
	display: none;
}

@media (min-width: 767px)and (max-width: 1440px) {
	.header {
		min-height: 625px;
	}

	.header__background {
		top: -192px;
		right: -100px;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 991px) {
	.header {
		background-image: url(./../img/banner__bg-mobile.png);
		mask-image: url(./../img/banner__bg-mobile.png);
		min-height: 496px;
		flex-direction: column;

		&::before {
			right: -61px;
		}
	}

	.header__background {
		top: 0;
		right: 0;
		width: 100%;
	}

	.header__nav {
		justify-content: space-between;
	}

	.header__menu {
		margin: 0 0 0 0;
	}

	.header__mobile {
		.contacts__link-phone {
			font-size: 14px;
			font-weight: 400;
			line-height: 17.95px;
		}

		.contacts__link-email {
			font-size: 14px;
			font-weight: 400;
			line-height: 17.95px;
		}
	}

	.header__search {
		margin: 55px auto 0 auto;
	}
}

@media (min-width: 992px) and (max-width: 1440px) {
	.header {
		mask-position: unset;
	}
}

@media (max-width: 1440px) {
	.header__burger {
		display: block;
	}

	.header {
		justify-content: unset;
		flex-direction: column;
	}

	.header__mobile {
		background-color: var(--extra-black);
	}
}