.logo__signature {
	font-weight: 700;
	font-size: 43px;
	line-height: 58.97px;
	color: var(--basic-white);
	transition: color 0.5s ease;
}

.logo__link {
	display: block;

	&:hover {
		.logo__signature {
			color: #4731FC;
		}
	}
}

@media (max-width: 991px) {
	.logo__signature {
		font-size: 27px;
    line-height: 32.97px;
	}
}