.map__background {
	border: 2px solid rgba(164, 167, 226, 0.4);
	background-image: linear-gradient(224.82deg, #030B41 0.85%, #000B52 57.3%, #1900AE 102.14%);
	margin: 48px 0 0 0;
}

.map__wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	height: 663px;
}

.map__box {
	position: relative;
	margin: -69px 340px 0 0;
}

.map__icon {
	width: 32px;
	height: 32px;
	fill: rgba(164, 167, 226, 0.4);
}

.map__item {
	position: absolute;
}

.map__figcaption {
	color: rgba(164, 167, 226, 0.4);
	font-weight: 400;
	font-size: 14px;
	line-height: 17.95px;
	max-width: 180px;
	margin-left: 7px;
}

.map__figure {
	display: flex;
	cursor: default;
	transition: 0.5s ease;

	&:hover {
		.map__icon {
			fill: rgba(215, 220, 231, 1);
			transition: 0.5s ease;
		}

		.map__figcaption {
			color: rgba(215, 220, 231, 1);
			transition: 0.5s ease;
			font-size: 16px;
			margin: 7px 0 0 0;
			line-height: 20.51px;
		}
	}
}

.map__item--one {
	left: 18em;
	top: 42%;
}

.map__item--two {
	left: 15.5em;
	top: 51%;
}

.map__item--three {
	left: 12.7em;
	top: 60.5%;

	.map__icon {
		margin-left: 10px;
	}
}

.map__item--four {
	left: 25.4em;
	top: 62%;
}

.map__item--five {
	left: 30.6em;
	top: 52.5%;
}

.map__item--six {
	left: 37em;
	top: 72%;
}

.map__item--seven {
	left: 47.8em;
	top: 44.9%;
}

.map__column {
	flex-direction: column-reverse;
	max-width: 136px;
}

.map__text {
	color: var(--map-text-color);
	position: absolute;
	max-width: 420px;
	right: -200px;
	top: 50%;
}

.map__strong {
	font-weight: 500;
	font-size: 28px;
	line-height: 35.9px;
}

.map__description {
	font-weight: 400;
	font-size: 20px;
	line-height: 25.64px;
	margin: 10px 0 0 0;
}

.map__separator {
	display: block;
	width: 40px;
	height: 10px;
	border-top: 2px solid rgba(164, 167, 226, 0.4);
	margin: 10px 0 0 0;
}

.map__block {
	position: relative;
}

@media (max-width: 992px) {
	.map__box {
		display: flex;
		flex-direction: column-reverse;
		overflow: auto;
		margin: 0 0 0 0;
		align-items: center;

		picture {
			width: 100vh;
			display: block;
			filter: drop-shadow(2px 4px 6px #2623B599);
		}
	}

	.map__wrapper {
		height: auto;
	}

	.map__text {
		position: static;
		margin: 50px 0 0 0;
		padding: 0 15px 0 15px;
	}

	.map__background {
		margin: 5px 0 0 0;
		padding: 0 0 30px 0;
		position: relative;
		border: none;

		&::before {
			content: '';
			background-color: var(--basic-white);
			width: 100%;
			display: block;
			height: 20px;
			position: absolute;
			height: 33px;
			bottom: -18px;
		}
	}

	.map__block {
		margin-left: 230px;
	}
}